<nav
  class="fixed top-0 left-0 z-50 w-full bg-background shadow-accent shadow-xs"
  aria-label="Barre de navigation principale"
>
  <div class="px-4 mx-auto max-w-7xl lg:px-8 sm:px-6">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex items-center">
        <button
          (click)="onNavigationClick('/')"
          class="flex items-center text-2xl font-bold hover:text-accent text-primary"
        >
          <img
            ngSrc="/logo.svg"
            alt="Julien.N"
            class="w-16 h-16 text-primary"
            width="40"
            height="40"
          />
          <span class="text-3xl font-bold text-text"
            >Julien<span class="bouncing-dot text-accent">.</span>N</span
          >
        </button>
      </div>

      <!-- Menu de navigation pour les écrans larges -->
      <div class="hidden justify-center items-center flex-1 md:flex">
        <ul class="flex space-x-4" role="list">
          @for (item of navigationItems; track item.label) {
            <li>
              <a
                (click)="onNavigationClick(item.route)"
                [attr.href]="item.route"
                class="flex relative items-center space-x-2 font-bold group hover:text-accent text-text underline-animated"
                role="button"
                tabindex="0"
              >
                <img
                  [ngSrc]="item.icon"
                  alt="Icône {{ item.label }}"
                  class="mb-1 w-5 h-5 icon-invert"
                  width="20"
                  height="20"
                />
                <span>{{ item.label }}</span>
              </a>
            </li>
          }
        </ul>
      </div>

      <!-- Boutons d'action et menu mobile -->
      <div class="flex items-center space-x-4">
        <a (click)="downloadCv()" class="hidden md:block">
          <app-button
            color="accent"
            aria-label="Télécharger CV"
            [customClass]="
              'px-2 sm:px-3 py-1 sm:py-2 shadow-md hover:shadow-lg transition-all duration-200'
            "
          >
            <div class="flex justify-center items-center gap-2 sm:gap-3">
              <figure class="relative flex-shrink-0 w-4 h-4 sm:h-5 sm:w-5">
                <img
                  [ngSrc]="'/icons/download.svg'"
                  alt="Icône de download"
                  class="object-contain absolute inset-0 w-full h-full icon-invert"
                  width="20"
                  height="20"
                />
              </figure>
              <span class="text-sm font-medium sm:text-base text-text"
                >Mon CV</span
              >
            </div>
          </app-button>
        </a>
        <app-button-dark-mode class="hidden md:block" />

        <!-- Auth Buttons -->
        @if (!supabaseService.user()) {
          <button
            (click)="openLoginModal()"
            class="hidden p-2 rounded-lg bg-background hover:bg-accent group md:block"
          >
            <img
              ngSrc="/icons/login.svg"
              alt="Login"
              class="w-6 h-6 transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rotate-12 icon-invert"
              width="24"
              height="24"
            />
          </button>
        } @else {
          <button
            (click)="logout()"
            class="hidden p-2 rounded-lg bg-background hover:bg-accent group md:block"
          >
            <img
              ngSrc="/icons/logout.svg"
              alt="Logout"
              class="w-6 h-6 transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rotate-12 icon-invert"
              width="24"
              height="24"
            />
          </button>
          <button
            (click)="navigateToAdmin()"
            class="hidden p-2 rounded-lg bg-background hover:bg-accent group md:block"
          >
            <img
              ngSrc="/icons/admin.svg"
              alt="Admin"
              class="w-6 h-6 transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rotate-12 icon-invert"
              width="24"
              height="24"
            />
          </button>
        }

        <div class="flex items-center gap-2 md:hidden">
          <a (click)="downloadCv()">
            <app-button
              color="accent"
              aria-label="Télécharger CV"
              [customClass]="'px-2 sm:px-3 py-1 sm:py-2 shadow-md hover:shadow-lg transition-all duration-200'"
            >
              <div class="flex justify-center items-center gap-2 sm:gap-3">
                <span class="relative flex-shrink-0 w-4 h-4 sm:h-5 sm:w-5">
                  <img
                    [ngSrc]="'/icons/download.svg'"
                    alt="Icône téléchargement"
                    class="object-contain absolute inset-0 w-full h-full icon-invert"
                    width="20"
                    height="20"
                  />
                </span>
                <span class="text-sm font-medium sm:text-base text-text">Mon CV</span>
              </div>
            </app-button>
          </a>
          <app-button-dark-mode />
        </div>

        <app-navbar-mobile class="md:hidden" (openLoginModalRequest)="openLoginModal()" />
      </div>
    </div>
  </div>
</nav>

@if (isLoginModalOpen()) {
  <app-login-modal (closeModal)="closeLoginModal()" />
}
